* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat' sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: none;
    justify-content: space-around;
    height: 60px;
    color:black;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-right: 25px;
    padding-top: 15px;
}

nav img {
    width: 59px;
    height: 67px;

}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    font-size: 20px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat';
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;

}

/* hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;

}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);  

}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #24262b;
        z-index: 1;
        transform: translateX(100%);
        transition: all 0,5s;
    }
    nav ul li a {
        color: white;
        font-family: 'Montserrat';
    }
    nav ul.slide{
        transform: translateX(0);
    }
}
/* end of navbar */

/* landing view section*/
.landing h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color:red;
    font-family: 'Merienda', cursive;
}

.landing img {
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* end of landing view section*/

/* about section*/
.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.about p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-size: 18px;
    padding-top: 40px;
    font-family: 'Montserrat';
}

.row {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.row img {
    width: 237px;
    height: 150px;
    border-radius: 30px;
}

.about-col {
    flex-basis: 50%;
    padding-top: 25px;
    transition: 0.5s;
}

.row2 {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.row2 img {
    width: 237px;
    height: 150px;
    border-radius: 30px;
}

.about-col2 {
    flex-basis: 50%;
    padding-top: 25px;
    transition: 0.5s;
}

.about-col img:hover {
    box-shadow: 0 0 20px 0px blue;

}

.about-col2 img:hover {
    box-shadow: 0 0 20px 0px blue;

} 
/* end of about section*/

/* culture section */

.culture {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border-radius: none;
}
.culture h1 {
    font-family: 'Montserrat';
}
.culture h3 {
    font-family: 'Montserrat';
}
.culture p {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Montserrat';
}
.culture col {
    flex-basis: 45%;
    margin-bottom: 30px;
    position: relative;
}
.culture-col img {
    width: 227px;
    height: 145px;
    padding: 30px;
}

.culture-col:hover {
    box-shadow: 0 0 20px 0px red;
}

/* end of landing page */

/* footer */

.container {
    max-width: 1170px;
    margin: auto;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: 'Montserrat';
    font-weight: 500;
    position: relative;
}
.footer-col P {
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 12px;
    color: #bbbbbb;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;
}
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .row {
        flex-direction: column;
    }
}
@media(max-width: 576px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .row {
        flex-direction: column;
    }
    .landing img {
        width: 105%;
    }
}

